<div class="ui pointing menu">
  <a class="active item" #home (click)="selected(0);">
    Home
  </a>
  <a class="item" #messages (click)="selected(1);">
    Search
  </a>
  <a class="item" #friends (click)="selected(2);">
    History
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" [(ngModel)]="search" (keyup.enter)="log();" placeholder="Search...">
        <i class="search link icon" (click)="log();"></i>
      </div>
    </div>
  </div>
</div>
