<br />
<div class="ui black card grid container">
  <div class="content">
    <h1 class="header">History</h1>
    <div class="meta">
      <span class="date">History List: {{ list.length }}</span>
    </div>
  </div>
  <div class="item" *ngFor="let history of list">
    <div class="right floated content">
      <button class="negative ui button" (click)="delete(history)">
        Delete
      </button>
      <div class="ui animated button" (click)="open(history)" tabindex="0">
        <div class="visible content">Search</div>
        <div class="hidden content">
          <i class="search icon"></i>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="header">
        {{ history.name }}
      </div>
      <a href="{{ history.url }}"> {{ history.url }}</a>
    </div>
    <br />
    <div class="ui divider"></div>
  </div>
</div>
