<br />
<div class="ui input grid container margin-top">
  <label> Filter:</label>
  <br>
  <input type="text" placeholder="name..." [(ngModel)]="name" (change)="update()">
</div>
<br>
<div class="ui black card grid container">
  <div class="content">
    <h1 class="header">History</h1>
    <div class="meta">
      <span class="date">History List: {{ list.length }}</span>
    </div>
  </div>
  <div class="item" *ngFor="let history of list">
    <div class="right floated content">
      <button class="negative ui animated button" (click)="delete(history)">
        <div class="visible content">Delete</div>
        <div class="hidden content">
          <i class="trash icon"></i>
        </div>
      </button>
      <div class="ui animated primary button" (click)="edit(history)" tabindex="0">
        <div class="visible content">Edit</div>
        <div class="hidden content">
          <i class="edit icon"></i>
        </div>
      </div>
      <div class="ui animated button" (click)="open(history)" tabindex="0">
        <div class="visible content">Search</div>
        <div class="hidden content">
          <i class="search icon"></i>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="header">
        {{ history.name }}
      </div>
      <a href="{{ history.url }}"> {{ history.url }}</a>
    </div>
    <br />
    <div class="ui divider"></div>
  </div>
</div>

<div class="ui one column stackable center aligned page grid">
  <app-pagination [start]="startpage" [size]=5 (callback)="searcher($event)" [update]="callback"></app-pagination>
</div>
